variable "host_project_id" {
  default = ""
}

variable "gcp_region" {
  default = ""
}


variable "filestore_instance_name" {
  default = ""
}

variable "filestore_zone" {
  default = ""
}

variable "filestore_tier" {
  default = ""
}

variable "filestore_capacity" {
  default = ""
}

variable "file_share_name" {
  default = ""
}

variable "filestore_network" {
  default = ""
}

variable "filestore_ip_version" {
  default = ""
}

