<div style="background-color:#ffffff;margin:0">
   <table style="font-family:'helvetica neue', 'proxima nova' , 'century gothic' , 'arial' , 'verdana' , sans-serif;font-size:14px;color:#5e5e5e;width:98%;max-width:600px;float:none;margin:0 auto" border="0" cellpadding="0" cellspacing="0" valign="top" align="left">
   <tbody>
      <tr>
         <td><table bgcolor="#ffffff" style="width:100%;line-height:20px;padding:32px;border:1px solid;border-color:#f0f0f0" cellpadding="0">
   <tbody>
      <tr>
         <td style="padding-top:24px;vertical-align:bottom"> Hi, </td>
      </tr>
      <tr>
         <td style="padding-top:24px"> You have a build that is pending approval: </td>
      </tr>
      <tr>
         <td style="padding-top:24px;font-weight:bold">Venture: </td>
      </tr>
      <tr>
         <td>{{ ventureName }}</td>
      </tr>
      <tr>
         <td style="padding-top:15px;font-weight: bold">Build Type: </td>
      </tr>
      <tr>
         <td>{{ buildType }}</td>
      </tr>
      <tr>
         <td style="padding-top:15px;font-weight: bold">Triggered: </td>
      </tr>
      <tr>
         <td>{{ updatedAt }}</td>
      </tr>
      <tr>
         <td style="padding-top:15px;font-weight: bold">Environment: </td>
      </tr>
      <tr>
         <td>{{ environment }}</td>
      </tr>
      <tr>
         <td style="padding-top:15px"><a href="{{buildURL}}"> <span style="color:#1155cc"> Review Now </span> </a></td>
      </tr>
      <tr>
         <td style="padding-top:24px;vertical-align:bottom">- The Bloom Team</td>
      </tr>
      <tr align="left">
         <td style="padding-top:5px"><img src="https://bloom-qa-bucket.s3.us-east-2.amazonaws.com/bloom_logo_blue_fullsize" height="37" /></td>
      </tr>
      <tr>
         <td style="vertical-align:bottom"> 505 Howard Street <br /> San Francisco, CA 94105 <br /><a href="tel:1-415-702-0073"> 415.702.0073 </a><br /><a href="mailto:support@bloom.tech" style="color:#1155cc">support@bloom.tech </a></td>
      </tr>
   </tbody>
   </table></td></tr></tbody></table>
</div>